
.img2{
    position:absolute;
    top:11.5%;
    left:47%;
}
.cla2{
    position:absolute;
    top:40%;
    left:38%;
    color:white;
    font-size:63px;
}      
.cla3{
    position:absolute;
    top:52.8%;
    left:26%;
    color:white;
    font-size:63px;
}   
.cla4{
    position:absolute;
    top:67%;
    left:27%;
    color:white;
    font-size:15.6px;
}     
.img3{
    position:absolute;
    top:85%;
    left:51%;
    color:white;
    font-size:15.6px;
}

.cla5{
    line-height: 250%;
    background-color: aliceblue;
    

}

.serv1{
    position: absolute;
    top:27%;
    left:42%;
    color:white;
    font-size: 30px;
}


.serv2{
    position: absolute;
    top:45%;
    left:25%;
    color:white;
    font-size:16px;
    line-height: 250%;
}
.img4{
    margin-top:3%;
    margin-bottom:4%;
}
.cla6{
    margin-bottom:4%;
    font-size: 25px;
}
.wid1{
    margin-top:3%;
    margin-bottom:4%;
}

.cla7{
    margin-top:2%;
    margin-bottom:2%;
}
.wid2{
    font-size:100px;
}
.cal8{
display:none;
}
.cal88{
 display:none;   
}
.cal888{
display:none;
}
h2{
    font-size: 17px;
}